body {
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.stars {
    position: absolute;
    width: 600px;
    height: 800px;
}

.star {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.star1 {
    position: absolute;
    top: 749px;
    left: 200px;
}

.star2 {
    position: absolute;
    top:  200px;
    left: 200px;
}

.star3 {
    position: absolute;
    top: 300px;
    left: 736px;
}

.star4 {
    position: absolute;
    top: 700px;
    left: 700px;
}

.star5 {
    position: absolute;
    top: 400px;
    left: 50px;
}

.solar {
    width: 500px;
    height: 500px;
}

.sun {
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 280px;
    left: 510px;
    box-shadow: 0px 0px 40px orange;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px; 
  height: 200px;
  border: 1px dashed rgba(255,255,255,0.3);
  border-radius: 50%;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.planet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;  
  left: 50%; 
}

.planet1 {
    background-color: #03a9f4;
    top: 0px;
    left: 40px; 
}

.planet2 {
    background-color: yellow;
    top: 0px;   
    left: 80px; 
}

.planet3 {
    background-color: red; 
    top: 0px;   
    left: 100px;
}

.planet4 {
    background-color: green;
    top: 0px;   
    left: 130px;
}

.planet5 {
    background-color: purple;
     top: 0px;   
     left: 160px; 
}

.orbit1 {
    width: 100px;
    animation-duration: 4s;
    height: 100px;
}



.orbit2 {
    animation-duration: 6s;
    height: 160px;
    width: 160px;
}



.orbit3 {
    height: 220px;
    width: 220px;
    animation-duration: 8s;
}


.orbit4 {
    height: 280px;
    width: 280px;
    animation-duration: 10s;
}



.orbit5 {
    height: 340px;
    width: 340px;
    animation-duration: 12s;
}


@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
